/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.lambda-logo {
    padding-top: 5px;
    padding-right: 55px;
}

.nav-2 {
    word-spacing: 95px;
    padding-top: 25px;
    padding-right: 50px;
}

.nav-2 a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.lambda-about {
    width: 100%;
    height: 120px;
    margin: 20px;
}

.top-heading {
    width: 95%;
    padding-left: 30px;
    margin-bottom: 10px;
}

header {
    margin-bottom: 20px;
    border-bottom: 1px dotted black;
}

.middle-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mid-1 {
    width: 40%;
    margin: 30px;
    border-bottom: 1px dotted black;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid black;
    height: 25px;
    width: 95px;
}

.middle-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mid-2 {
    width: 40%;
    margin: 30px;
    border-bottom: 1px dotted black;
}

.footer-head {
    width: 95%;
    padding-left: 30px;
    margin-top: 10px;
}

.btm-nav {
    background-color: black;
    word-spacing: 30px;
    font-size: 14px;
    height: 40px;
    margin-top: 30px;
    padding-top: 14px;
    padding-left: 15px;
}

.btm-nav a {
    text-decoration: none;
    color: white;
}