/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.lambda-logo {
    padding-top: 5px;
    padding-right: 100px;
}

.nav-2 {
    word-spacing: 85px;
    padding-top: 20px;
    padding-right: 30px;
}

.nav-2 a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.coding {
    width: 75%;
    height: 130px;
    margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.contact-title {
    margin-top: 30px;
}

.contact-title h1 {
    font-size: 30px;
    margin-top: 20px;
}

.contact-title h2 {
    font-size: 20px;
    line-height: 10px;
}

form {
    margin-top: 50px;
}

.form-control {
    width: 300px;
    background: transparent;
    border: 1px dotted black;
    font-size: 15px;
    margin-top: 10px;
}

input {
    height: 30px;
}

form .submit {
    background: white;
    border-radius: 7px;
    font-size: 13px;
}

form .submit:hover {
    background-color: rgb(2, 132, 175);
}

footer {
    width: 80%;
    margin-left: 100px;
    background: black;
}

footer nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 17px;
}

footer nav a {
    color: white;
    text-decoration: none;
}